# Pycharm
**/__pycache__/**
*.pyc

# Log
/log/**
!.gitignore

# For Engine Test
/temps/*.log
/temps/data
/temps/model

# IDE
.idea

# Coverage
.coverage
coverage_report

# virtualenv
.venv
venv

# weight files
checkpoint
checkpoints
